.u-title{

}

.Footer{

}

.Header{
	margin-top: 3.75em;
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}

.Header-imageContainer{
	margin: 0;
}

.Header-image{
	border: 5px solid white;
	border-radius: 50%;
}

.Header-name,
.Header-link{
	color: white;
}

.Header-link{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}

.Header-name{
	font-size: 1.5em;
	font-weight: 300;
	margin:0;
}

.MainMenu{
	background: #1E1E1E;
	height: 3.75em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
}

.MainMenu-list{
	margin: 0;
	padding: 0;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #00DBFF;
	line-height: 3.75em;
	text-decoration: none;
	margin-right: 1.5em;
}

.Profile{

}

.Profile-span{
	font-weight: bold;
}

.Work{

}

