<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Mi portafolio online</title>
		<meta charset="UTF-8"  />
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" />
	</head>
	<body>
		 <header id="yo">
		 	<nav>
		 		<ul>
		 			<li>
		 				<a href="#yo">Yo</a>
		 			</li>
		 			<li>
		 				<a href="#perfil">Perfil</a>
		 			</li>
		 			<li>
		 				<a href="#trabajo">Trabajo</a>
		 			</li>
		 			<li>
		 				<a href="#contacto">Contacto</a>
		 			</li>

		 		</ul>
		 	</nav>
		 	<figure>
		 		<img src="avatar.jpg" alt="Imagen personal" />
		 		<figcaption>
		 			<a href="http://twitter.com/jorchvega" target="_blank">
		 			@jorchvega</a>
		 		</figcaption>
		 	</figure>
		 </header>
		 <section id="perfil">
		 	<h2>Mi perfil</h2>
		 	<p>
		 		Hola! si llegaste hasta aquí puedes ver mi portafolio y contactame!
		 	</p>
		 	<a href="http://twitter.com/jorchvega" target="_blank">@jorchvega</a>
		 	<a href="http://facebook.com/jorchvega" target="_blank">jorchvega</a>
		 	<a href="http://github.com/jorchvega" target="_blank">jorchvega</a>
		 </section>
		 <section id="trabajo">
		 	<h2>Mi trabajo</h2>
		 	<article>
		 		<figure>
		 			<img src="mejorandola.jpg" alt="Es la descripción de mi imagen" />
		 			<figcaption>Website de mejorando.la</figcaption>
		 		</figure>
		 	</article>
		 	<article>
		 		<figure>
		 			<img src="mejorandola.jpg" alt="Es la descripción de mi imagen" />
		 			<figcaption>Website de mejorando.la</figcaption>
		 		</figure>
		 	</article>	
		 	<article>
		 		<figure>
		 			<img src="mejorandola.jpg" alt="Es la descripción de mi imagen" />
		 			<figcaption>Website de mejorando.la</figcaption>
		 		</figure>
		 	</article>	
		 	<article>
		 		<figure>
		 			<img src="mejorandola.jpg" alt="Es la descripción de mi imagen" />
		 			<figcaption>Website de mejorando.la</figcaption>
		 		</figure>
		 	</article>
		 	<article>
		 		<figure>
		 			<img src="mejorandola.jpg" alt="Es la descripción de mi imagen" />
		 			<figcaption>Website de mejorando.la</figcaption>
		 		</figure>
		 	</article>			 				 			 	
		 </section>
		 <footer id="contacto">
		 	<h3>Contacto</h3>
		 	<p>Si tienes una sugerencia o quieres trabajar conmigo porte en contacto con este formulario</p>
		 	<form>
		 		<input type="text" placeholder="Nombre" />
		 		<input type="email" placeholder="Email" />
		 		<textarea placeholder="Motivo"></textarea>
		 		<button type="submit">Contactarme</button>
		 	</form>
		 </footer>
	</body>
</html>